
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(231, 243, 250);
}

html,body {
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

h2{
  color: rgb(213, 255, 241);
  margin-top: 18px;
  margin-left: 10%;
}

button{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px 20px;
  border: none;
  margin-right: 16px;
  margin-top: 20px;
  margin-left: 15px;
  font-weight: 1000;
}

