

/* Apply styles to the entire body */
body {
  font-family: Arial, sans-serif; 
  text-align: center; 
  padding: 50px; 
  background-color: #acf2ff; 
}


/* Styling for the main container */
.container {
  background: rgb(160, 207, 236); 
  padding: 30px; 
  border-radius: 10px; 
  box-shadow: solid 12px  10px rgba(0, 0, 0, 0.1); 
  display: inline-block; 
}


/* Button styling */
button {
  padding: 10px 20px; 
  margin: 10px; 
  font-size: 16px; 
  cursor: pointer; 
}
